.Rproj.user
.Rhistory
.RData
.Ruserdata
reveals_and_psas/output/*
!output/figures
output/figures/*
!output/figures/.gitkeep
!output/PANGAEA
!output/reconstructions
output/reconstructions/*
output/PANGAEA/*
!output/PANGAEA/.gitkeep
output/optimized_RPP_Europe.csv

